
.Err{
  color: #d32f2f; padding-left:12px;font-size: 17px; font-family: Roboto, Helvetica, Arial, sans-serif;
line-height: 20px; size: 12px; font-weight: 200;
}

.Err1{
  color: red; padding-left:35px;font-size: 17px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.GFG1 {
  background-image:
  url(
  "https://i.pinimg.com/originals/06/23/84/06238488191902ff79e5460285082c68.gif");
 font-size:medium;background-repeat:no-repeat; background-position: center;
 padding-inline-end: 20px; height: 340px; width: 75%; background-size: cover;
  }

